<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--default-init-method="init"-->
<!--default-destroy-method="cleanUp">-->

    <!--Procedural triangles-->
    <bean id="equilateralTriangle" class="springjbrains.course.core.model.triangle.ProceduralTriangle">
        <property name="type" value="equilateral"/>
    </bean>

    <bean id="rightTriangle" class="springjbrains.course.core.model.triangle.ProceduralTriangle">
        <constructor-arg value="right"/>
        <constructor-arg value="20"/>
    </bean>

    <bean id="rightArgumentTypedTriangle" class="springjbrains.course.core.model.triangle.ProceduralTriangle">
        <constructor-arg value="10" type="int"/>
        <constructor-arg value="right" type="java.lang.String"/>
    </bean>
    <bean id="rightOrderedArgumentTriangle" class="springjbrains.course.core.model.triangle.ProceduralTriangle">
        <constructor-arg value="10" index="1"/>
        <constructor-arg value="right" index="0"/>
    </bean>

    <!--Object triangle-->
    <bean id="objectTriangle" class="springjbrains.course.core.model.triangle.ObjectPointSeparatedTriangle">
        <property name="pointA" ref="pointA"/>
        <property name="pointB">
            <bean class="springjbrains.course.core.model.Point">
                <property name="x" value="${pointB.X}"/>
                <property name="y" value="${pointB.Y}"/>
            </bean>
        </property>
        <property name="pointC">
            <bean class="springjbrains.course.core.model.Point">
                <property name="x" value="${pointC.X}"/>
                <property name="y" value="${pointC.Y}"/>
            </bean>
        </property>
    </bean>

    <!--Object  point listed triangle-->
    <bean id="objectPointListedTriangle" class="springjbrains.course.core.model.triangle.ObjectPointListedTriangle">
        <property name="points">
            <list>
                <ref bean="pointA"/>
                <ref bean="pointB"/>
                <ref bean="pointC"/>
            </list>
        </property>
    </bean>

    <!--Autowired object triangle-->
    <bean id="autowiredObjectTriangle" class="springjbrains.course.core.model.triangle.ObjectPointSeparatedTriangle" autowire="byName">
    </bean>

    <!--Triangle points-->
    <bean id="pointA" class="springjbrains.course.core.model.Point">
        <property name="x" value="${pointA.X}"/>
        <property name="y" value="${pointA.Y}"/>
    </bean>
    <bean id="pointB" class="springjbrains.course.core.model.Point">
        <property name="x" value="${pointB.X}"/>
        <property name="y" value="${pointB.Y}"/>
    </bean>
    <bean id="pointC" class="springjbrains.course.core.model.Point">
        <property name="x" value="${pointC.X}"/>
        <property name="y" value="${pointC.Y}"/>
    </bean>

    <!--Bean definition inheritance-->
        <!--Parent triangles-->
    <bean id="parentObjectPointSeparatedTriangle" class="springjbrains.course.core.model.triangle.ObjectPointSeparatedTriangle">
        <property name="pointA" ref="pointA"/>
    </bean>

    <bean id="parentObjectPointListedTriangle" class="springjbrains.course.core.model.triangle.ObjectPointListedTriangle">
        <property name="points">
            <list>
                <ref bean="pointA"/>
            </list>
        </property>
    </bean>

    <!--Children-->
    <bean id="childObjectPointSeparatedTriangle" class="springjbrains.course.core.model.triangle.ObjectPointSeparatedTriangle" parent="parentObjectPointSeparatedTriangle">
        <property name="pointB" ref="pointB"/>
        <property name="pointC" ref="pointC"/>
    </bean>

    <bean id="childObjectPointListedTriangle" class="springjbrains.course.core.model.triangle.ObjectPointListedTriangle" parent="parentObjectPointListedTriangle">
        <property name="points">
            <list merge="true">
                <ref bean="pointB"/>
                <ref bean="pointC"/>
            </list>
        </property>
    </bean>

    <!--Lifecycle tips-->
    <bean id="lifecycleFactoryHooksBeanExample" class="springjbrains.course.core.lifecycle.LifecycleFactoryHooksBeanExample"/>
    <!--<bean id="lifecycleXmlTagConfigBeanExample" class="springjbrains.course.core.lifecycle.LifecycleXmlTagConfigBeanExample"-->
        <!--init-method="init"-->
        <!--destroy-method="cleanUp">-->
    <!--</bean>-->

    <!--Autowiring example-->
    <!--<bean id="centerAutoWiredCircle" class="springjbrains.course.core.model.circle.CenterAutowiredCircle">-->
        <!--<property name="diameter" value="${circle.diameter}"/>-->
    <!--</bean>-->

    <!--Some JSR250 annotations example-->
    <bean id="jsrAnnotationsCircle" class="springjbrains.course.core.model.circle.JsrAnnotationsCircle">
        <constructor-arg value="15"/>
        <constructor-arg ref="messageSource"/>
    </bean>

    <bean id="center" class="springjbrains.course.core.model.Point">
        <property name="x" value="${center.x}"/>
        <property name="y" value="${center.y}"/>
    </bean>

    <!--<bean class="springjbrains.course.core.lifecycle.DisplayNameBeanPostProcessor"/>-->
    <!--<bean class="springjbrains.course.core.lifecycle.BeanFactoryPostProcessorExample"/>-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="shapesConfig.properties"/>
    </bean>

    <!--Application event publisher example-->
    <bean id="drawEventPublishingCircle" class="springjbrains.course.core.model.circle.DrawEventPublishingCircle">
    </bean>

    <!--Bean post processors -->
    <!--<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>-->
    <!--<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>-->
    <context:annotation-config/>
    <context:component-scan base-package="springjbrains.course.core"/>

    <!--Message source-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>
    </bean>

    <!--AOP-->
    <bean id="shapeService" class="springjbrains.course.service.ShapeService">
        <property name="shapes">
            <list>
                <ref bean="jsrAnnotationsCircle"/>
                <ref bean="autowiredObjectTriangle"/>
            </list>
        </property>
    </bean>

</beans>